server {
    listen       ${NGINX_PORT};

    location / {
        proxy_pass http://${PROXY_HOST}:8080;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header remote_addr $remote_addr;
    }

}
